<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Controls" publicKeyToken="4D9E49339A7D240C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2011.5" newVersion="1.0.2011.5"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
